* {
  box-sizing: border-box;
  font-family: sans-serif;
}

html {
  height: 100%;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  grid-template-rows: 80px auto 80px;
  grid-template-areas:
    "nav"
    "main"
    "footer";
  height: 100%;
  background-color: #f5f5f5;
}

nav {
  height: 80px;
  grid-area: nav;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.persona {
  display: flex;
  align-items: center;
}

.persona img {
  height: 40px;
  width: 40px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 12px;
}
#main {
  grid-area: main;
  overflow: scroll;
  min-height: 100%;
}

#posts {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  justify-content: center;
}

.comment-container {
  font-size: 80%;
}

.comment {
  margin-bottom: 16px;
  color: #959595;
  border-bottom: 1px solid #333;
}

.comment-container p {
  margin: 0;
  margin-bottom: 4px;
}

.card {
  width: 300px;
}

.card img {
  max-width: 100%;
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  background-color: #fff;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card .text-container {
  padding: 20px;
}

.card-container {
  padding: 8px 24px 24px 24px;
}

.card .button-container {
  display: flex;
  justify-content: flex-end;
}

.card button {
  padding: 12px 20px;
  cursor: pointer;
}

footer {
  grid-area: footer;
  height: 80px;
  background-color: white;
  box-shadow: 8px 0px 8px 0 rgba(0, 0, 0, 0.2);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer img {
  height: 40px;
  width: 40px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 20px;
}
